.signUp{
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: space-around;
    padding:5rem;
    .signUpForm{
        width: 50%;
        margin-right: 2.5rem;
        .form{
            display: flex;
            flex-direction: column;
            border:1px solid rgba(0,0,0,0.3);
            padding:1.5rem 2rem;
            .form__title{
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                text-align: center;
            }
            .form__email,.form__name,.form__phone,.form__confirmPassword,.form__password{
                outline:none;
                border:none;
                margin-bottom: 0.5rem;
                border-bottom: 1px solid rgba(0,0,0,0.3);
                padding:0.5rem 0rem;
                transition: 0.5s all ease;
                &:hover{
                    border-bottom: 1px solid black;
                }
                &:focus{
                    border-bottom: 1px solid black;
                }
            }
            .form__error{
                font-size: 0.5rem;
                margin-bottom: 0.5rem;
                color:red;
            }

            .form__button{
                background: #f0c14b;
                padding: 0.4rem 0;
                outline: none;
                border:none;
                border-radius: 7px;
                color:white;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 800;
            }
            .form__desc{
                margin-bottom: 0.5rem;
                font-size: 0.8rem;
                line-height: 1;
            }

            
        }

    }
    .signInNav{
        width: 50%;
        margin-left: 2.5rem;
        display: flex;
        flex-direction: column;

        padding:1.5rem 2rem;
        
        align-items: center;
        .title{
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
        .button{
            background: #f0c14b;
            width:fit-content;
            padding: 0.8rem 1.5rem;
            outline: none;
            border:none;
            border-radius: 7px;
            color:white;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 800;
        }
        .desc{
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;
        }
    }
}